name: Java Build and File Update

on:
  push:
    branches:
      - main # Anpassen, falls du andere Branches verwenden möchtest

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
    - name: Checkout code
      uses: actions/checkout@v2
      
    - name: Set up JDK
      uses: actions/setup-java@v2
      with:
        java-version: '17' # Anpassen auf die gewünschte Java-Version
        distribution: 'adopt'
        server-id: 'github'
        server-username: ${{ github.actor }}
        server-password: ${{ secrets.GITHUB_TOKEN }}

        
    - name: Build Java project
      run: |
        ./gradlew build # Anpassen, falls du ein anderes Build-Tool verwendest
        
    - name: Create builds directory
      run: mkdir -p builds
      
    - name: Copy built JAR file
      run: cp -r <path-to-your-build-output>/*.jar builds/ # Anpassen, je nachdem, wo deine gebauten Dateien sind

    - name: Update version.txt
      run: |
        sed -i 's/old_text/new_text/g' ver/version.txt # Anpassen der alten und neuen Texte
        git add ver/version.txt builds/*.jar
        git commit -m "Updated version and built JAR file"
        git push
